rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This rule makes your entire database publicly accessible.
    // Anyone can read, write, and delete all of your data.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}